In [1]:
import matplotlib as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
pip install scikit-learn==1.5.1

Collecting scikit-learn==1.5.1
  Using cached scikit_learn-1.5.1-cp311-cp311-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\deepa\anaconda3\lib\site-packages (from scikit-learn==1.5.1) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\deepa\anaconda3\lib\site-packages (from scikit-learn==1.5.1) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\deepa\anaconda3\lib\site-packages (from scikit-learn==1.5.1) (1.2.0)
Collecting threadpoolctl>=3.1.0 (from scikit-learn==1.5.1)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB 163.4 kB/s eta 0:01:07
   ---------------------------------------- 0.1/11.0 MB 217.9 kB/s eta 0:00:51
   ---------------------------------------- 0.1/11.0 MB 363.1 kB/s eta 0:00:30
    --------------------------------------- 0.2/11.0 MB 565.6 kB/s eta 0:00:20
   - -------------------------------------- 0.3/11.0 MB 838.1 kB/s eta 0:00:13
   - -------------------------------------- 0.3/11.0 MB 838.1 kB/s eta 0:00:13
   - -------------------------------------- 0.3/11.0 MB 838.1 kB/s eta 0:00:13
   -- ------------------------------------- 0.6/11.0 MB 1.2 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.0 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/11.0 MB 1.9 MB/s eta 0:00:06
   ---- ----------------------------------- 1.2/11.0 MB 1.9 MB/s eta 0:00:06
   ----- ---------------------------------- 1.5/11.0 MB 2.1 MB/s eta 0:00:05
   ----- ---------------------------------- 1.5/11.0 MB 2.1 MB/s eta 0:00:05
   ------ --------------------------------- 1.9/11.0 MB 2.3 MB/s eta 0:00:05
   ------ --------------------------------- 1.9/11.0 MB 2.3 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/11.0 MB 2.3 MB/s eta 0:00:04
   -------- ------------------------------- 2.3/11.0 MB 2.5 MB/s eta 0:00:04
   -------- ------------------------------- 2.3/11.0 MB 2.3 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.0 MB 2.6 MB/s eta 0:00:04
   ----------- ---------------------------- 3.1/11.0 MB 2.8 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.0 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.0 MB 3.1 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/11.0 MB 3.2 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/11.0 MB 3.2 MB/s eta 0:00:03
   ---------------- ----------------------- 4.4/11.0 MB 3.3 MB/s eta 0:00:02
   ---------------- ----------------------- 4.4/11.0 MB 3.3 MB/s eta 0:00:02
   ----------------- ---------------------- 4.8/11.0 MB 3.3 MB/s eta 0:00:02
   ----------------- ---------------------- 4.9/11.0 MB 3.4 MB/s eta 0:00:02
   ----------------- ---------------------- 4.9/11.0 MB 3.2 MB/s eta 0:00:02
   ------------------- -------------------- 5.4/11.0 MB 3.5 MB/s eta 0:00:02
   ------------------- -------------------- 5.4/11.0 MB 3.5 MB/s eta 0:00:02
   --------------------- ------------------ 5.9/11.0 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.4/11.0 MB 3.8 MB/s eta 0:00:02
   ------------------------- -------------- 7.0/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------- -------------- 7.0/11.0 MB 4.0 MB/s eta 0:00:01
   --------------------------- ------------ 7.5/11.0 MB 4.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.5/11.0 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 3.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 3.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------- -------- 8.6/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------- -------- 8.6/11.0 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 4.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 3.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/11.0 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 4.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn
  Attempting uninstall: threadpoolctl
    Found existing installation: threadpoolctl 2.2.0
    Uninstalling threadpoolctl-2.2.0:
      Successfully uninstalled threadpoolctl-2.2.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.4.2
    Uninstalling scikit-learn-1.4.2:
      Successfully uninstalled scikit-learn-1.4.2
Successfully installed scikit-learn-1.5.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\deepa\anaconda3\Lib\site-packages\~.learn'.
  You can safely remove it manually.

In [3]:
pip show scikit-learn

Name: scikit-learnNote: you may need to restart the kernel to use updated packages.

Version: 1.5.1
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: C:\Users\deepa\anaconda3\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: imbalanced-learn

In [4]:
df=pd.read_csv('dataset123.csv')

In [5]:
df['age'].unique()

array(['35', '63', '25', '53', '92', '67', '60', '48', '27', '73', '19',
       '72', '16', '54', '39', '38', '33', '45', '21', '51', '64', '40',
       '71', '49', '79', '20', '59', '37', '42', '46', '50', '69', '30',
       '31', '89', '77', '68', '65', '24', '75', '80', '23', '11', '18',
       '62', '76', '22', '70', '47', '56', '26', '28', '83', '74', '78',
       '58', '61', '55', '41', '85', '86', '32', '43', '17', '57', '66',
       '34', '14', '52', '93', '36', '81', '84', '15', '12', '44', '29',
       '82', '87', '88', '7', '1', '13', '10', '90', '94', '4', '8', '5',
       '455', '2', '91', '6', '?'], dtype=object)

In [6]:
df.describe()
df1=df[df['age']=='455']
df1

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
2336,455,F,f,f,f,f,f,f,f,f,...,t,118,t,1.13,t,104,f,?,SVI,negative

In [7]:
df.sex.unique()

array(['F', 'M', '?'], dtype=object)

In [8]:
#df=df.dropna(subset=['sex'])

In [9]:
#df.describe()

In [10]:
df.sex.unique()

array(['F', 'M', '?'], dtype=object)

In [11]:
#df=df[df.sex!='?']

In [12]:
df.shape

(4744, 30)

In [13]:
import sklearn
from sklearn.impute import SimpleImputer

In [14]:
df.nunique()

age                           94
sex                            3
on_thyroxine                   2
query_on_thyroxine             2
on_antithyroid_medication      2
sick                           2
pregnant                       2
thyroid_surgery                2
I131_treatment                 2
query_hypothyroid              2
query_hyperthyroid             2
lithium                        2
goitre                         2
tumor                          2
hypopituitary                  2
psych                          2
TSH_measured                   2
TSH                          288
T3_measured                    2
T3                            70
TT4_measured                   2
TT4                          242
T4U_measured                   2
T4U                          147
FTI_measured                   2
FTI                          235
TBG_measured                   1
TBG                            1
referral_source                5
target                        10
dtype: int64

In [15]:
impute=SimpleImputer(strategy='most_frequent')
impute1=SimpleImputer(strategy='median')

In [16]:
df.replace('?',np.nan,inplace=True)
df[['sex']]=impute.fit_transform(df[['sex']])

In [17]:
df['sex'].nunique()

2

In [18]:
df['sex'].shape

(4744,)

In [19]:
df.info()
df['age'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4744 entries, 0 to 4743
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        4743 non-null   object
 1   sex                        4744 non-null   object
 2   on_thyroxine               4744 non-null   object
 3   query_on_thyroxine         4744 non-null   object
 4   on_antithyroid_medication  4744 non-null   object
 5   sick                       4744 non-null   object
 6   pregnant                   4744 non-null   object
 7   thyroid_surgery            4744 non-null   object
 8   I131_treatment             4744 non-null   object
 9   query_hypothyroid          4744 non-null   object
 10  query_hyperthyroid         4744 non-null   object
 11  lithium                    4744 non-null   object
 12  goitre                     4744 non-null   object
 13  tumor                      4744 non-null   object
 14  hypopituitary              4744 non-null   object
 15  psych                      4744 non-null   object
 16  TSH_measured               4744 non-null   object
 17  TSH                        4290 non-null   object
 18  T3_measured                4744 non-null   object
 19  T3                         3791 non-null   object
 20  TT4_measured               4744 non-null   object
 21  TT4                        4466 non-null   object
 22  T4U_measured               4744 non-null   object
 23  T4U                        4267 non-null   object
 24  FTI_measured               4744 non-null   object
 25  FTI                        4269 non-null   object
 26  TBG_measured               4744 non-null   object
 27  TBG                        0 non-null      float64
 28  referral_source            4744 non-null   object
 29  target                     4744 non-null   object
dtypes: float64(1), object(29)
memory usage: 1.1+ MB

array(['35', '63', '25', '53', '92', '67', '60', '48', '27', '73', '19',
       '72', '16', '54', '39', '38', '33', '45', '21', '51', '64', '40',
       '71', '49', '79', '20', '59', '37', '42', '46', '50', '69', '30',
       '31', '89', '77', '68', '65', '24', '75', '80', '23', '11', '18',
       '62', '76', '22', '70', '47', '56', '26', '28', '83', '74', '78',
       '58', '61', '55', '41', '85', '86', '32', '43', '17', '57', '66',
       '34', '14', '52', '93', '36', '81', '84', '15', '12', '44', '29',
       '82', '87', '88', '7', '1', '13', '10', '90', '94', '4', '8', '5',
       '455', '2', '91', '6', nan], dtype=object)

In [ ]:
df['age']=pd.to_numeric(df['age'],errors='coerce')
df=df[df['age']!=455]
mean_age=df['age'].mean()
df['age']=df['age'].fillna(mean_age) #df['age']=impute1.fit_transform(df[['age']])
df['age']=df['age'].round(0).astype('int')
df['age'].unique()

In [ ]:
#df['sex'].unique()

In [ ]:
#row=df[df[['age']]!=int]

In [ ]:
#row

In [ ]:
df_values=['negative','compensated hypothyroid','primary thyroid']
df= df[df['target'].isin(df_values)]
df['target'].value_counts()

In [ ]:
df

In [ ]:
df['TSH']=pd.to_numeric(df['TSH'],errors='coerce')

In [ ]:
df['TSH']

In [ ]:
df['TSH']=impute1.fit_transform(df[['TSH']])
df['TSH']

In [ ]:
df['TSH'].unique()

In [ ]:
df['T3'].unique()

In [ ]:
df['T3']=pd.to_numeric(df['T3'],errors='coerce')
df['T3']=impute1.fit_transform(df[['T3']])
df['T3'].unique()

In [ ]:
df['TT4'].unique()
df['TT4']=pd.to_numeric(df['TT4'],errors='coerce')
df['TT4']=impute1.fit_transform(df[['TT4']])
df['TT4'].unique()

In [ ]:
df['T4U'].unique()
df['T4U']=pd.to_numeric(df['T4U'],errors='coerce')
df['T4U']=impute1.fit_transform(df[['T4U']])
df['T4U'].unique()

In [ ]:

df['FTI']=pd.to_numeric(df['FTI'],errors='coerce')
df['FTI']=impute1.fit_transform(df[['FTI']])
df['FTI'].unique()

In [ ]:
df.drop(['TBG','TBG_measured','referral_source'],axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
#pd.get_dummies one-hot-encoding

In [ ]:
df=pd.get_dummies(df,columns=['sex','on_thyroxine','on_antithyroid_medication','sick','pregnant','thyroid_surgery','I131_treatment','query_on_thyroxine','query_hypothyroid','query_hyperthyroid','lithium','goitre','tumor','hypopituitary','psych','TSH_measured','T3_measured','TT4_measured','T4U_measured','FTI_measured'])

In [ ]:
df

In [ ]:
#spliting

In [ ]:
x=df.drop(['target'],axis=1)
y=df['target']
df=df.drop_duplicates()

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
!pip install imblearn --quiet
from imblearn.over_sampling import SMOTE

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
df['target'].value_counts()

In [ ]:
os=SMOTE(random_state=42,k_neighbors=5)
x_train,y_train=os.fit_resample(x_train,y_train)

In [ ]:
y_train.value_counts()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import GridSearchCV

In [ ]:
'''xgb=XGBClassifier(random_state=42,max_depth=4,n_estimators=100,bootstrap=True,max_leaf_nodes=10,objective='multi:softmax', num_class=len(set(y_train)))
xgb.fit(x_train,y_train)'''

In [ ]:
'''rf=RandomForestClassifier(random_state=42,'bootstrap': False, 'max_depth': None, 'max_features': 'auto', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 50)
rf.fit(x_train,y_train)'''

In [ ]:
rf = RandomForestClassifier(random_state=42, bootstrap=False, max_depth=None,
                            max_features='auto', min_samples_leaf=2,
                            min_samples_split=2, n_estimators=100)
rf.fit(x_train,y_train)

In [ ]:
x_pred=rf.predict(x_train)
y_pred=rf.predict(x_test)

In [ ]:
print(classification_report(y_train,x_pred))
print(classification_report(y_test,y_pred))

In [ ]:
df.info()

In [ ]:
train_accuracy = accuracy_score(y_train, x_pred)
print(f'Training Accuracy: {train_accuracy * 100:.2f}%')

# Calculate accuracy for testing set
test_accuracy = accuracy_score(y_test, y_pred)
print(f'Testing Accuracy: {test_accuracy * 100:.2f}%')

In [ ]:
pip show scikit-learn

In [ ]:
import pickle as pkl
pkl.dump(rf, open('model.pkl', 'wb'))

In [ ]:
pip show scikit-learn